@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

/* LOGO TEXT */

.logo-text {
    color: #b22222;
}

/* NAV MENU */

#navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #4A3B3B;
    color: #fff;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 1rem;
    margin: 0 0.5rem; 
}

#navbar ul li a:hover {
    background: #b22222;
    border-radius: 5px;
}

/* SHOWCASE */

#main {
    background: url("../img/cover.jpg") no-repeat center center/cover;
    height: 100vh;
    color: #fff;
}

#main .main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.main-title {
    font-size: 4.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.title-p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.btn {
  display: inline-block;
  color: #bfff;
  background: #b22222;
  padding: 1rem 2rem;
  transition: 0.3s ease;
  border-radius: 5px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}

/* MEMBERSHIP */

.container {
    max-width: 1100px;
    margin: auto;
    padding: 2rem 0;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.membership-title {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
}

.membership-pd-1 { padding: 2rem 0; }
.membership-pd-2 { padding: 1.8rem 0; }
.membership-pd-3 { padding: 2.2rem 0; }

#membership .items {
    display: flex;
    padding: 1rem;
}

#membership .items .item {
    flex: 1; 
    text-align: center;
    padding: 1rem;
}

#membership .items .item i {
    background: #b22222;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* ABOUT */

#about {
    display: flex;
}

#about div {
    flex: 1;
}

#about .about-img {
    background: url("../img/team.jpg") no-repeat center center/cover;
    order: 2;
}

.bg-text {
    background:#c1c2c5;
    color: #fff;
    order: 1;
}

.pd-text-1 { padding: 1.8rem; } 
.pd-text-2 { padding: 2rem; } 
.pd-text-3 { padding: 2.2rem; } 

.team {
    margin: 1rem 0;
    list-style: none;
}

.team li {
    padding: 0.6rem;
    border-bottom: #adadb1 solid 1px;
}

/* SPONSORSHIP */

#sponsorship .items {
    display: flex;
}

#sponsorship .items img {
    display: block;
    margin: auto;
    width: 80%;
} 

/* CONTACT */

.bg-red {
    background: #b22222;
    color: #fff;
}

#contact {
    display: flex;
}

#contact .contact-form {
    order: 2;
}

#contact .google-map {
    order: 1;
}

#contact .google-map, #contact .contact-form {
    flex: 1;
}

#contact .contact-form .form-content {
    margin: 1rem;
}

#contact .contact-form label {
    display: block;
}

#contact .contact-form input, 
#contact .contact-form textarea {
    width: 100%;
    padding: 0.7;
}

/* FOOTER */

.bg-footer {
    background: #4A3B3B;
    color: #fff;
}

p a {
    color: #fff;
}

p a:hover {
    color: #b22222;
}
